a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}html{box-sizing:border-box}*,::after,::before{box-sizing:inherit}img,video{width:100%;vertical-align:middle;}
body{
    font-family: 'Rock Salt', cursive;
}
h1, h2, h3, h4, h5 {
    color: pink;
}
#logo{
    font-size: 3em;
    text-align: center;
}
ul > li > a {
    color: rgb(255, 251, 0);
}
.titre{
    font-size: 5em;
    text-align: center;
    margin: 100px 0 0 20px;
}
body{
    background-color: chartreuse;
    color: pink;
}
#buttonUn{
    width: 200px;
    height: 170px;
    background-color: rgb(105, 209, 2);
    color: pink;
    margin: 30px 0 0 45%;
    cursor: pointer;
}
#imgAleatoire{
    width: 200px;
}